body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 210mm;
    min-height: 287mm;
    padding: 15mm;
    padding-top: 5mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 257mm;
    outline: 2cm #FFEAEA solid;
}

td {
    padding-top: 5px;
}

@page {
    size: F4;
    margin: 0;
}

@media print {

    html,
    body {
        width: 210mm;
        height: 297mm;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-2 {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.flex-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-6 {
    display: flex;
    justify-content: space-around;
}

.box {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.box-2 {
    font-size: 12px;
    overflow: hidden;
    width: 150px;
    text-align: center;
}

.p {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.p-2 {
    border-bottom: 1px solid black;
    margin-top: 60px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.font-bold {
    font-weight: bold;
}

.font-reguler {
    font-size: 14px;
}

.font-sm {
    font-size: 12px;
}

.font-xs {
    font-size: 10px;
}

.mt-2 {
    margin-top: 10px;
}

.mint-2 {
    margin-top: -10px;
}

.border {
    border: 0.5px solid black;
    padding: 0px 10px 0px 10px;
    margin-bottom: 5px;
}

.border-tab {
    margin: 10px 0px 10px 0px;
}

table {
    width: 100%;
}

ol {
    margin-left: -40px;
}

table,
th,
td {
    border: 0.5px solid black;
    font-size: 12px;
}
